# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# PyTorch
*.pt
*.pth

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# System Files
.DS_Store
Thumbs.db

# VSCode
.vscode/
